<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h2>Welcome, {{ session.name }}</h2>

    <ul>
        <li><a href="/lost">Report Lost Item</a></li>
        <li><a href="/found">Report Found Item</a></li>
        <li><a href="/status">Status</a></li>

        {% if session.role == "admin" %}
            <li><a href="/admin" class="admin-btn">Admin Panel</a></li>
        {% endif %}

        <li><a href="/logout">Logout</a></li>
    </ul>
</div>

</body>
</html>